.Facts {
  width: 100%;
}

.Facts h1 {
  color: #ffffff;
  font-size: 40px;
  margin: 57px 0px 46px 30px;
  font-weight: bold;
  letter-spacing: -0.05em;
}

li {
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 20px;
  margin-left: 50px;
}

li::marker {
  color: #04defd;
  font-size: 1.5em;
}

.grid {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
}

.logo-position {
  max-width: 100%;
  height: auto;
  align-self: flex-start;
  margin-left: 750px;
}
