.Facts h1 {
  color: #ffffff;
  font-size: 40px;
  margin: 57px 0px 46px 30px;
  font-weight: bold;
  letter-spacing: -0.05em;
}

li {
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 20px;
  margin-left: 50px;
}

li::marker {
  color: #04defd;
  font-size: 1.5em;
}
